.container {
    margin-bottom: 10px;
    
  }
  
.completed {
    text-decoration: line-through;
}


.delete-icon-container {
  text-align: right;
  margin-left: auto;
  width: 10%;
}

.delete-icon {
  font-size: 16px;
}

